    <div class="row pokemon-body">
        <div class="col-md-3">
            <div class="card" style="width: 18rem">
                <img height="200" width="200" src="@SelectedPokemon.sprites.front_default" />
                <div class="card-body">
                    <h5 class="card-title">@SelectedPokemon.name</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 movelist">
            <PokemonMoveList PokemonMovesCollection="@SelectedPokemon.moves"></PokemonMoveList>
        </div>
    </div>
    


@code {

[Parameter] Pokemon.Models.PokemonAttributes SelectedPokemon { get; set; }

}
